In [1]:
import pandas as pd

pd.set_option("display.max_columns", None)
pd.set_option("display.width", None) 
pd.set_option("display.max_colwidth", None)

In [2]:
playerinfo_df = pd.read_csv("../tests/test_data/test_cleaned_playerinfo.csv")
salaries_df = pd.read_csv("../tests/test_data/test_cleaned_salaries.csv")

playerinfo_df
# salaries_df

,player_name,position,height,weight,birth_date,weight_kg,height_m
0,Alaa Abdelnaby,"Forward, Center",6-10,240.0,"June 24, 1968",108.9,2.08
1,Zaid Abdul-Aziz,"Center, Forward",6-9,235.0,"April 7, 1946",106.6,2.06
2,Kareem Abdul-Jabbar,Center,7-2,225.0,"April 16, 1947",102.1,2.18
3,Mahmoud Abdul-Rauf,Guard,6-1,162.0,"March 9, 1969",73.5,1.85
4,Tariq Abdul-Wahad,Forward,6-6,223.0,"November 3, 1974",101.2,1.98
...,...,...,...,...,...,...,...
4991,Ante ii,"Forward, Center",6-10,266.0,"January 4, 1997",120.7,2.08
4992,Jim Zoet,Center,7-1,240.0,"December 20, 1953",108.9,2.16
4993,Bill Zopf,Guard,6-1,170.0,"June 7, 1948",77.1,1.85
4994,Ivica Zubac,Center,7-0,240.0,"March 18, 1997",108.9,2.13
4995,Matt Zunic,"Guard, Forward",6-3,195.0,"December 19, 1919",88.5,1.91

In [3]:
# Merge both DataFrames into one
player_info_and_salaries_df = pd.merge(playerinfo_df, salaries_df, how="inner", on="player_name")

player_info_and_salaries_df = player_info_and_salaries_df[[
    "season_start_year",
    "player_name",
    "position",
    "height",
    "weight",
    "birth_date",
    "weight_kg",
    "height_m",
    "salary",
    "inflation_adjusted_salary"
]]

player_info_and_salaries_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2436 entries, 0 to 2435
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   season_start_year          2436 non-null   int64
 1   player_name                2436 non-null   object
 2   position                   2436 non-null   object
 3   height                     2436 non-null   object
 4   weight                     2436 non-null   float64
 5   birth_date                 2436 non-null   object
 6   weight_kg                  2436 non-null   float64
 7   height_m                   2436 non-null   float64
 8   salary                     2436 non-null   object
 9   inflation_adjusted_salary  2436 non-null   object
dtypes: float64(3), int64(1), object(6)
memory usage: 190.4+ KB

In [4]:
# Save player information to CSV
FILE_PATH = "../tests/test_data/test_player_info_and_salary.csv"
player_info_and_salaries_df.to_csv(FILE_PATH, index=False)